@charset "UTF-8";
@font-face {
  font-family: 'Brutal Type';
  src: url(./src/fonts/BrutalBold.woff);
  font-weight: bold; }

@font-face {
  font-family: 'Brutal Type';
  src: url(./src/fonts/BrutalMedium.woff);
  font-weight: medium; }

@font-face {
  font-family: 'Brutal Type';
  src: url(./src/fonts/BrutalRegular.woff);
  font-weight: normal; }

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внешние отступы */
body,
p,
h1,
h2,
h3,
h4,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: none; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  line-height: 1.2; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

button {
  cursor: pointer;
  outline: none; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

.button {
  background: none;
  padding: 0px;
  border: none;
  border-radius: 2px; }

.header {
  position: relative;
  width: 100%;
  background-color: #223036;
  height: 173px;
  display: flex; }
  @media (max-width: 768px) {
    .header {
      justify-content: center; } }
  @media (max-width: 320px) {
    .header {
      height: 48px;
      justify-content: flex-start;
      align-items: center; } }

.header__button-hamburger {
  position: absolute;
  display: none;
  top: 16px;
  left: 16px;
  background: url(./src/assets/whiteHamburger.svg);
  width: 19px;
  height: 16px; }
  @media (max-width: 768px) {
    .header__button-hamburger {
      display: block; } }
  @media (max-width: 320px) {
    .header__button-hamburger {
      position: initial;
      margin-left: 16px; } }

.header__content {
  margin-left: 47px;
  max-width: 1085px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 1024px) {
    .header__content {
      align-items: center;
      max-width: 943px;
      margin-left: 31px; } }
  @media (max-width: 768px) {
    .header__content {
      max-width: max-content;
      margin-left: 0px; } }
  @media (max-width: 320px) {
    .header__content {
      margin: 0;
      margin-left: 16px; } }

.header__logo {
  width: 370px;
  height: 80px; }
  @media (max-width: 320px) {
    .header__logo {
      content: url(./src/assets/H_mobile.svg);
      padding: 8px 10px 8px 10px;
      background: center url(./src/assets/bg_mobile.svg);
      width: 35px;
      height: 34px;
      margin-left: 4px; } }

.header__text {
  font-family: "PT Sans Caption", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  width: 100%;
  max-width: 660px;
  margin-left: 15px; }
  @media (max-width: 1024px) {
    .header__text {
      max-width: 550px; } }
  @media (max-width: 1000px) {
    .header__text {
      font-size: 12px; } }
  @media (max-width: 900px) {
    .header__text {
      font-size: 10px; } }
  @media (max-width: 768px) {
    .header__text {
      display: none; } }

.header__buttons {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 320px) {
    .header__buttons {
      top: 17px; } }

.header__button-find {
  opacity: 0;
  visibility: hidden;
  width: 14px;
  height: 14px;
  background: url(./src/assets/whiteFind.svg); }
  @media (max-width: 320px) {
    .header__button-find {
      opacity: 1;
      visibility: visible; } }

.header__button-enter {
  background: none;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 15px;
  line-height: 10px;
  font-weight: 700px; }
  @media (max-width: 320px) {
    .header__button-enter {
      position: initial; } }

.nav {
  height: 48px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.nav__content {
  position: relative;
  display: flex;
  height: inherit;
  flex-direction: row;
  align-items: center;
  margin-left: 47px; }
  @media (max-width: 1024px) {
    .nav__content {
      margin-left: 38px; } }
  @media (max-width: 768px) {
    .nav__content {
      margin: 0; } }

.nav__button-hamburger {
  background: url(./src/assets/hamburger.svg);
  width: 16px;
  height: 13px; }
  @media (max-width: 768px) {
    .nav__button-hamburger {
      display: none; } }

.nav__panel {
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 504px; }
  @media (max-width: 1024px) {
    .nav__panel {
      margin-left: 15px; } }
  @media (max-width: 768px) {
    .nav__panel {
      max-width: 768px;
      margin: 0; } }
  @media (max-width: 320px) {
    .nav__panel {
      margin-left: 14px;
      margin-right: 14px; } }

.nav__button-find {
  right: 13px;
  background: url(./src/assets/find.svg);
  position: absolute;
  width: 15px;
  height: 14px; }
  @media (max-width: 1024px) {
    .nav__button-find {
      right: 22px; } }
  @media (max-width: 768px) {
    .nav__button-find {
      display: none; } }

.panel__elem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 91px;
  height: 24px;
  font-family: "Brutal Type", sans-serif;
  color: black;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Sans Caption", sans-serif;
  color: black;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em; }
  @media (max-width: 320px) {
    .panel__elem {
      width: auto; } }

.panel__elem_mobile {
  display: none; }
  @media (max-width: 768px) {
    .panel__elem_mobile {
      display: block; } }
  @media (max-width: 320px) {
    .panel__elem_mobile {
      display: none; } }

.panel__title {
  font-family: "PT Sans Caption", sans-serif;
  color: black;
  font-size: 28px;
  line-height: 22px; }

.main-aside__container {
  margin: auto;
  margin-top: 39px;
  max-width: 1060px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px; }
  @media (max-width: 1024px) {
    .main-aside__container {
      grid-template-columns: repeat(8, 1fr) 0fr repeat(3, 70px); } }
  @media (max-width: 768px) {
    .main-aside__container {
      grid-template-columns: repeat(12, 1fr);
      margin: 30px 0 0 0; } }
  @media (max-width: 320px) {
    .main-aside__container {
      margin-top: 22px; } }

.main {
  width: 100%;
  grid-column: 1 / 10;
  grid-row: 2; }
  @media (max-width: 1024px) {
    .main {
      margin-left: 15px;
      max-width: 730px; } }
  @media (max-width: 768px) {
    .main {
      margin-left: 0;
      grid-column: 1 / 13;
      max-width: 768px; } }
  @media (max-width: 320px) {
    .main {
      max-width: 320px; } }

.today__title {
  font-family: "PT Sans Caption", sans-serif;
  color: black;
  font-size: 28px;
  line-height: 22px;
  margin: 0;
  height: 41px;
  letter-spacing: -0.02em;
  grid-column: 1 / 5;
  grid-row: 1; }
  @media (max-width: 1024px) {
    .today__title {
      margin-left: 15px;
      height: 45px; } }
  @media (max-width: 768px) {
    .today__title {
      grid-column: 1 / 13;
      margin-top: 5px; } }
  @media (max-width: 320px) {
    .today__title {
      margin-top: 0;
      font-size: 20px;
      max-width: 320px;
      margin-left: 11px;
      height: 20px; } }

.today {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 20px;
  row-gap: 25px;
  grid-column: 1 / 10;
  overflow: hidden; }
  @media (max-width: 1024px) {
    .today {
      grid-column: 1 / 9;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 768px) {
    .today {
      grid-column: 1;
      grid-template-columns: 1fr;
      gap: 15px; } }
  @media (max-width: 320px) {
    .today {
      margin-top: 4px;
      max-width: 320px;
      column-gap: 0; } }

.today__article {
  padding: 20px;
  height: 492px;
  color: white;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .today__article {
      height: 386px; } }
  @media (max-width: 320px) {
    .today__article {
      height: 386px;
      padding: 15px; } }

.today-article__type {
  margin-top: 65px;
  background-color: #faaf3f; }

.today__first {
  width: 100%;
  position: relative;
  background: center url(./src/assets/yourself.jpg);
  grid-column: 1/10; }
  @media (max-width: 1024px) {
    .today__first {
      grid-column: 1 / 3; } }
  @media (max-width: 768px) {
    .today__first {
      grid-column: 1;
      background: center url(./src/assets/yourself_tablet.jpg); } }
  @media (max-width: 320px) {
    .today__first {
      background: center url(./src/assets/yourself_mobile.jpg); } }

.article__type {
  font-family: "Brutal Type", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 2px;
  width: 118px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 768px) {
    .article__type {
      margin-top: 52px; } }
  @media (max-width: 320px) {
    .article__type {
      max-width: 104px;
      margin-top: 99px; } }

.first-article__type {
  margin-top: 130px; }
  @media (max-width: 768px) {
    .first-article__type {
      margin-top: 52px; } }
  @media (max-width: 320px) {
    .first-article__type {
      margin-top: 99px;
      max-width: 118px; } }

.today-article__title {
  font-weight: 700px;
  margin-top: 40px;
  height: 83px;
  font-family: "Brutal Type", sans-serif;
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: -0.02em;
  width: 100%;
  max-width: 558px; }
  @media (max-width: 768px) {
    .today-article__title {
      margin-top: 26px; } }
  @media (max-width: 320px) {
    .today-article__title {
      font-size: 20px;
      line-height: 28px;
      margin-top: 25px; } }

.today-article__text {
  margin-top: 23px;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  width: 100%;
  max-width: 720px; }
  @media (max-width: 768px) {
    .today-article__text {
      display: none; } }

.today__footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  @media (max-width: 768px) {
    .today__footer {
      bottom: 13px;
      left: 32px; } }
  @media (max-width: 320px) {
    .today__footer {
      bottom: 26px;
      left: 15px; } }

.first-article__footer {
  max-width: 749px;
  width: 95%;
  height: 23px; }
  @media (max-width: 1024px) {
    .first-article__footer {
      max-width: 690px; } }
  @media (max-width: 768px) {
    .first-article__footer {
      height: 54px;
      flex-direction: column;
      align-items: start; } }

.author {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold; }

.date {
  font-weight: normal;
  font-size: 10px;
  line-height: 24px;
  height: 23px; }

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 169px;
  height: 17px; }

.stats__elem {
  font-family: "PT Sans Caption", sans-serif;
  color: white;
  font-size: 10px;
  line-height: 16px;
  padding-left: 19px;
  height: 16px; }

.elem__views {
  background: left no-repeat url(./src/assets/views.svg); }

.elem__likes {
  background: left no-repeat url(./src/assets/dog.svg); }

.elem__comments {
  background: left no-repeat url(./src/assets/comments.svg); }

.elem__reposts {
  background: left no-repeat url(./src/assets/reposts.svg); }

.today__second {
  position: relative;
  background: center url(./src/assets/1998.jpg);
  grid-column: 1 / 7; }
  @media (max-width: 1024px) {
    .today__second {
      grid-column: 1; } }
  @media (max-width: 768px) {
    .today__second {
      background: center url(./src/assets/1998_tablet.jpg); } }
  @media (max-width: 320px) {
    .today__second {
      background: center url(./src/assets/1998_mobile.jpg); } }

.second-article__text {
  width: 100%;
  max-width: 430px;
  margin-top: 40px; }
  @media (max-width: 1024px) {
    .second-article__text {
      display: none; } }

.second-article__footer {
  height: 54px;
  flex-direction: column;
  align-items: start; }

.today__third {
  position: relative;
  grid-column: 7/10;
  background: center url(./src/assets/cluster.jpg); }
  @media (max-width: 1024px) {
    .today__third {
      grid-column: 2; } }
  @media (max-width: 768px) {
    .today__third {
      background: center url(./src/assets/cluster_tablet.jpg);
      grid-column: 1;
      grid-row: 3; } }
  @media (max-width: 320px) {
    .today__third {
      background: center url(./src/assets/cluster_mobile.jpg); } }

.third-article__title {
  height: 186px;
  max-width: 217px; }
  @media (max-width: 320px) {
    .third-article__title {
      max-width: 290px; } }

.third-article__footer {
  height: 54px;
  flex-direction: column;
  align-items: start; }

.today__text {
  font-family: "PT Sans", sans-serif;
  color: black;
  font-size: 17px;
  line-height: 24px;
  grid-column: 1/10; }
  @media (max-width: 1024px) {
    .today__text {
      grid-column: 1/3; } }
  @media (max-width: 768px) {
    .today__text {
      grid-column: 1;
      margin: 12px 15px 0 15px; } }
  @media (max-width: 320px) {
    .today__text {
      margin-top: 10px; } }

.best {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 244px; }
  @media (max-width: 1024px) {
    .best {
      overflow: hidden;
      z-index: 0; } }
  @media (max-width: 768px) {
    .best {
      margin-left: 15px;
      height: 247px; } }
  @media (max-width: 320px) {
    .best {
      margin-top: 23px;
      height: 235px; } }

.best-article__title {
  font-family: "Brutal Type", sans-serif;
  color: white;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold; }
  @media (max-width: 320px) {
    .best-article__title {
      width: 227px; } }

.best__control-panel {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 29px; }
  @media (max-width: 768px) {
    .best__control-panel {
      max-width: 495px; } }
  @media (max-width: 320px) {
    .best__control-panel {
      max-width: 288px; } }

@media (max-width: 320px) {
  .times__second {
    content: "Год"; } }

@media (max-width: 320px) {
  .times__third {
    content: "Всё время"; } }

.best__times {
  display: flex;
  width: 100%;
  max-width: 495px;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 400px) {
    .best__times {
      justify-content: space-around; } }
  @media (max-width: 320px) {
    .best__times {
      justify-content: space-between; } }

.times__elem {
  height: 35px;
  font-family: "PT Sans", sans-serif;
  color: black;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border: none; }

@media (max-width: 400px) {
  .times__elem_full {
    display: none; } }

.times__elem_mobile {
  display: none; }
  @media (max-width: 400px) {
    .times__elem_mobile {
      display: block; } }

.times__elem_active {
  border-bottom: 2px solid #f7ab32; }

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47px; }
  @media (max-width: 1024px) {
    .switch {
      display: none; } }

.button__switch {
  width: 15px;
  height: 20px; }

.button__switch_left {
  background: no-repeat url(./src/assets/vector-left.svg); }

.button__switch_right {
  background: left no-repeat url(./src/assets/vector-left.svg);
  transform: rotate(180deg); }

.best__articles {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: none; }
  @media (max-width: 1024px) {
    .best__articles {
      width: 790px; } }

.articles__elem:last-child {
  margin-right: 0; }

.articles__elem {
  margin-right: 20px;
  letter-spacing: -0.02em;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  padding: 15px 20px;
  width: 100%;
  max-width: 250px;
  height: 177px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .articles__elem {
      padding-bottom: 20px; } }

.first-best {
  background: center url(./src/assets/AIvsCOVID.jpg); }

.second-best {
  background: center url(./src/assets/bioProblems.jpg); }

.third-best {
  background: center url(./src/assets/dayPoints.jpg); }

.series {
  margin-top: 30px;
  grid-column: 1 / 10; }
  @media (max-width: 1024px) {
    .series {
      grid-column: 1 / 9; } }
  @media (max-width: 768px) {
    .series {
      overflow: hidden;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 320px) {
    .series {
      display: none; } }

.series__panel {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.series__list {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .series__list {
      width: 1020px; } }

.list__elem {
  padding: 23px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 380px;
  height: 516px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); }
  @media (max-width: 1024px) {
    .list__elem {
      max-width: 350px; } }
  @media (max-width: 768px) {
    .list__elem {
      max-width: 325px;
      margin-right: 20px;
      padding-left: 15px;
      padding-bottom: 17px; } }

.list__elem_mobile {
  display: none; }
  @media (max-width: 768px) {
    .list__elem_mobile {
      display: flex; } }

.series__title {
  width: 100%;
  max-width: 250px;
  font-family: "Brutal Type", sans-serif;
  color: #333333;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 2px; }

.series-text__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 337px;
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .series-text__list {
      width: 290px;
      margin-bottom: 25px; } }

.series-text__list:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 370px;
  top: -5px;
  left: 5px;
  z-index: 0;
  background: linear-gradient(180deg, white, 10px, black, 310px, white); }

.text-list__elem {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 15px;
  line-height: 21px;
  padding-left: 25px;
  background: top 6px left no-repeat url(./src/assets/pointBeforeText.svg);
  z-index: 1;
  text-decoration: none;
  color: black; }
  @media (max-width: 868px) {
    .text-list__elem {
      font-size: 13px; } }
  @media (max-width: 804px) {
    .text-list__elem {
      font-size: 11px; } }

.yellow-button {
  align-self: center;
  font-family: "Brutal Type", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  max-width: 197px;
  height: 32px;
  background-color: #faaf3f; }
  @media (max-width: 768px) {
    .yellow-button {
      max-width: 285px; } }

.aside {
  width: 100%;
  grid-column: 10/13;
  grid-row: 2;
  z-index: 1; }
  @media (max-width: 1024px) {
    .aside {
      max-width: 251px;
      grid-column: 10 / 13; } }
  @media (max-width: 768px) {
    .aside {
      display: none; } }
  @media (max-width: 320px) {
    .aside {
      padding: 4px;
      margin: auto;
      margin-top: 5px;
      display: initial;
      grid-column: 1/13;
      grid-row: 3;
      max-width: 300px;
      height: 430px;
      overflow: hidden; } }

.aside__type {
  font-family: "Brural Type", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  max-width: 92px;
  height: 24px;
  border-radius: 2px;
  background-color: #333333;
  text-align: center;
  padding: 4px; }

.aside__button-open {
  max-width: 214px; }
  @media (max-width: 320px) {
    .aside__button-open {
      max-width: 248px; } }

.aside__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1372px; }

.top__panel {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.aside__all {
  font-family: "PT Sans", sans-serif;
  color: #0776D2;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none; }

.aside__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  padding: 20px 17px 20px 21px; }

.aside__series {
  height: 442px; }
  @media (max-width: 320px) {
    .aside__series {
      height: 413px; } }

.series__title {
  font-family: "Brutal Type", sans-serif;
  color: #333333;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px; }

.aside-series__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 236px;
  margin-bottom: 10px; }
  @media (max-width: 320px) {
    .aside-series__list {
      height: 197px;
      margin-bottom: 20px; } }

.aside-series__list:before {
  position: absolute;
  left: 25px;
  top: 120px;
  content: '';
  width: 1px;
  height: 252px;
  background: linear-gradient(180deg, white, 10px, black, 190px, white);
  z-index: 0; }
  @media (max-width: 320px) {
    .aside-series__list:before {
      height: 200px;
      top: 140px;
      left: 20px; } }

.aside-series__elem {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 15px;
  line-height: 21px;
  z-index: 1;
  padding-left: 15px;
  background: top 5px left no-repeat url(./src/assets/pointBeforeText.svg); }
  @media (max-width: 320px) {
    .aside-series__elem {
      padding-left: 20px;
      position: relative;
      left: -5px;
      max-width: 222px; } }

.aside-series__elem_mobile-on {
  display: none; }
  @media (max-width: 320px) {
    .aside-series__elem_mobile-on {
      display: initial; } }

@media (max-width: 320px) {
  .aside-series__elem_mobile-off {
    display: none; } }

.aside__test {
  height: 374px;
  padding-bottom: 24px; }

.test__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 20px 20px 20px;
  position: relative;
  height: 238px;
  background: center url(./src/assets/test.png); }

.test__title {
  font-family: "Brutal Type", sans-serif;
  color: white;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold; }

.aside__video {
  height: 270px; }

.video__content {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 146px;
  background: center url(./src/assets/video.jpg); }

.video__name {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 15px;
  line-height: 21px;
  font-weight: bold; }

.aside__NADIS {
  height: 226px; }

.NADIS__date {
  margin-top: 13px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 15px;
  line-height: 21px;
  font-weight: bold; }

.NADIS__time {
  font-family: "PT Sans", sans-serif;
  color: #516e77;
  font-size: 14px;
  line-height: 24px; }

.NADIS__text {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 15px;
  line-height: 21px; }

.today__first:hover .corner {
  visibility: visible;
  opacity: 1; }

.today__second:hover .corner {
  visibility: visible;
  opacity: 1; }

.today__third:hover .corner {
  visibility: visible;
  opacity: 1; }

.corner {
  position: absolute;
  visibility: hidden;
  opacity: 0; }

.top-left {
  top: 8px;
  left: 8px; }

.top-right {
  top: 8px;
  right: 8px;
  transform: rotate(90deg); }

.bottom-right {
  bottom: 8px;
  right: 8px;
  transform: rotate(180deg); }

.bottom-left {
  bottom: 8px;
  left: 8px;
  transform: rotate(-90deg); }

.panel__elem:hover {
  background-color: #faaf3f;
  color: white; }

.text-list__elem:hover {
  color: #faaf3f; }

.aside__all:hover {
  text-decoration: underline; }

.yellow-button:hover {
  background-color: #f49f21; }

