@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внешние отступы */
body,
p,
h1,
h2,
h3,
h4,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: none; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

button {
  cursor: pointer;
  outline: none; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

.button {
  background: none;
  padding: 0px;
  border: none;
  border-radius: 2px; }

.header {
  position: relative;
  width: 100%;
  background-color: #223036;
  height: 173px;
  display: inline-block; }

.header__content {
  margin-left: 47px;
  max-width: 1085px;
  width: 100%;
  margin-top: 45px;
  display: flex;
  justify-content: space-between; }

.header__text {
  font-family: "PT Sans Caption", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  max-width: 658px; }

.header__button-enter {
  position: absolute;
  top: 13px;
  right: 20px;
  background: none;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 15px;
  line-height: 10px;
  font-weight: 700px; }

.nav {
  height: 48px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.nav__content {
  position: relative;
  display: flex;
  height: inherit;
  flex-direction: row;
  align-items: center;
  margin-left: 47px; }

.nav__button-hamburger {
  background: url(./src/assets/hamburger.svg);
  width: 16px;
  height: 13px; }

.nav__pannel {
  margin-left: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 476px; }

.nav__button-find {
  right: 13px;
  background: url(./src/assets/find.svg);
  position: absolute;
  width: 15px;
  height: 14px; }

.pannel__elem_mobile {
  display: none; }

.main {
  margin: auto;
  margin-top: 39px;
  max-width: 1060px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 70px);
  column-gap: 20px;
  grid-template-rows: 30px, 1009px, 66px;
  row-gap: 20px; }

.today__title {
  font-family: "PT Sans Caption", sans-serif;
  color: black;
  font-size: 28px;
  line-height: 22px;
  margin: 0;
  height: 41px;
  letter-spacing: -0.02em;
  grid-column-start: 1;
  grid-column-end: 5; }

.today {
  grid-column-start: 1;
  grid-column-end: 10;
  display: grid;
  grid-template-columns: repeat(9, 70px);
  column-gap: 20px;
  row-gap: 25px; }

.today__article {
  padding: 20px;
  height: 492px;
  color: white;
  display: flex;
  flex-direction: column; }

.today-article__type {
  margin-top: 65px; }

.today__first {
  position: relative;
  grid-column: 1/10;
  background: url(./src/assets/yourself.jpg); }

.article__type {
  font-family: "PT Sans Caption", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  width: 118px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center; }

.today-article__type {
  background-color: #faaf3f; }

.first-article__type {
  margin-top: 130px; }

.today-article__title {
  font-weight: 700px;
  margin-top: 45px;
  height: 83px;
  font-family: "PT Sans Caption", sans-serif;
  color: white;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em; }

.today-article__text {
  margin-top: 19px;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal; }

.today__footer {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.first-article__footer {
  max-width: 749px;
  height: 23px; }

.author {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold; }

.date {
  font-weight: normal;
  font-size: 10px;
  line-height: 24px;
  height: 23px; }

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 169px;
  height: 17px; }

.stats__elem {
  font-family: "PT Sans Caption", sans-serif;
  color: white;
  font-size: 10px;
  line-height: 16px;
  padding-left: 19px;
  height: 16px; }

.elem__views {
  background: left no-repeat url(./src/assets/views.svg); }

.elem__likes {
  background: left no-repeat url(./src/assets/dog.svg); }

.elem__comments {
  background: left no-repeat url(./src/assets/comments.svg); }

.elem__reposts {
  background: left no-repeat url(./src/assets/reposts.svg); }

.today__second {
  position: relative;
  background: url(./src/assets/1998.jpg);
  grid-column: 1 / 7; }

.second-article__text {
  margin-top: 38px; }

.second-article__footer {
  height: 50px;
  flex-direction: column;
  align-items: start; }

.today__third {
  position: relative;
  grid-column: 7/10;
  background: url(./src/assets/cluster.jpg); }

.third-article__title {
  height: 186px; }

.third-article__footer {
  height: 50px;
  flex-direction: column;
  align-items: start; }

.today__text {
  font-family: "PT Sans", sans-serif;
  color: black;
  font-size: 17px;
  line-height: 24px;
  grid-column: 1/10; }

