@import "./nullstyle.scss";

@mixin fontz($ff, $c, $fs, $lh) {
    font-family: $ff, sans-serif;
    color: $c;
    font-size: $fs;
    line-height: $lh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.button {
    background: none;
    padding: 0px;
    border: none;
    border-radius: 2px;
}

.header {
    position: relative;
    width: 100%;
    background-color: #223036;
    height: 173px;
    display: inline-block;
}

.header__content {
    margin-left: 47px;
    max-width: 1085px;
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.header__text {
    @include fontz("PT Sans Caption", white, 14px, 22px);
    width: 100%;
    max-width: 658px;
}

.header__button-enter {
    position: absolute;
    top: 13px;
    right: 20px;
    background: none;
    @include fontz("PT Sans", white, 15px, 10px);
    font-weight: 700px;
}

.nav {
    height: 48px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav__content {
    position: relative;
    display: flex;
    height: inherit;
    flex-direction: row;
    align-items: center;
    margin-left: 47px;
}

.nav__button-hamburger {
    background: url(./src/assets/hamburger.svg);
    width: 16px;
    height: 13px;
}

.nav__pannel {
    margin-left: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 476px;
}  

.nav__button-find {
    right: 13px;
    background: url(./src/assets/find.svg);
    position: absolute;
    width: 15px;
    height: 14px;
}

.pannel__elem {
}

.pannel__elem_mobile {
    display: none;
}