@import "./nullstyle.scss";

@mixin fontz($ff, $c, $fs, $lh) {
    font-family: $ff, sans-serif;
    color: $c;
    font-size: $fs;
    line-height: $lh;
}

$bc: #faaf3f;

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.button {
    background: none;
    padding: 0px;
    border: none;
    border-radius: 2px;
}

.header {
    position: relative;
    width: 100%;
    background-color: #223036;
    height: 173px;
    display: inline-block;
}

.header__content {
    margin-left: 47px;
    max-width: 1085px;
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.header__text {
    @include fontz("PT Sans Caption", white, 14px, 22px);
    width: 100%;
    max-width: 658px;
}

.header__button-enter {
    position: absolute;
    top: 13px;
    right: 20px;
    background: none;
    @include fontz("PT Sans", white, 15px, 10px);
    font-weight: 700px;
}

.nav {
    height: 48px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav__content {
    position: relative;
    display: flex;
    height: inherit;
    flex-direction: row;
    align-items: center;
    margin-left: 47px;
}

.nav__button-hamburger {
    background: url(./src/assets/hamburger.svg);
    width: 16px;
    height: 13px;
}

.nav__pannel {
    margin-left: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 476px;
}  

.nav__button-find {
    right: 13px;
    background: url(./src/assets/find.svg);
    position: absolute;
    width: 15px;
    height: 14px;
}

.pannel__elem_mobile {
    display: none;
}

// MAIN

.main {
    margin: auto;
    margin-top: 39px;
    max-width: 1060px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 70px);
    column-gap: 20px;
    grid-template-rows: 30px, 1009px, 66px;
    row-gap: 20px;
}

// TODAY 

.today__title {
    @include fontz('PT Sans Caption', black, 28px, 22px);
    margin: 0;
    height: 41px;
    letter-spacing: -0.02em;
    grid-column-start: 1;
    grid-column-end: 5;
}

.today {
    grid-column-start: 1;
    grid-column-end: 10;
    display: grid;
    grid-template-columns: repeat(9, 70px);
    column-gap: 20px;
    row-gap: 25px;
}

.today__article {
    padding: 20px;
    height: 492px;
    color: white;
    display: flex;
    flex-direction: column;
}

// FIRST ARTICLE

.today__first {
    grid-column: 1/10;
    background: url(./src/assets/yourself.jpg);
}

.article__type {
    @include fontz('PT Sans Caption', white, 14px, 18px);
    border-radius: 2px;
    width: 118px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today-article__type {
    background-color: $bc;
}

.first-article__type {
    margin-top: 130px;
}

.today-article__title {
    font-weight: 700px;
    margin-top: 45px;
    height: 83px;
    @include fontz('PT Sans Caption', white, 24px, 30px);
    letter-spacing: -0.02em;
}

.today-article__text {
    margin-top: 19px;
    @include fontz('PT Sans', white, 18px, 24px);
    font-weight: normal;
}

.today__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.first-article__footer {
    height: 23px;
    margin-top: 45px;
}

.author {
    @include fontz('PT Sans', white, 15px, 24px);
    font-weight: bold;
}

.date {
    font-weight: normal;
    font-size: 10px;
    line-height: 24px;
    height: 23px;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 169px;
    height: 17px;
}

.stats__elem {
    @include fontz("PT Sans Caption", white, 10px, 16px);
    padding-left: 19px;
    height: 16px;
}

.elem__views {
    background: left no-repeat url(./src/assets/views.svg);
}

.elem__likes {
    background: left no-repeat url(./src/assets/dog.svg);
}

.elem__comments {
    background: left no-repeat url(./src/assets/comments.svg);
}

.elem__reposts {
    background: left no-repeat url(./src/assets/reposts.svg);
}

// SECOND ARTICLE

.today__second {
    background: url(./src/assets/1998.jpg);
    grid-column: 1 / 7;
}

.second-article__type {
    margin-top: 65px;
}

.second-article__text {
    margin-top: 38px;
}

.second-article__footer {
    margin-top: 37px;
    height: 50px;
    flex-direction: column;
    align-items: start;
}